#fiveserver-info-wrapper{display: none !important;}

html{
    overflow-x: hidden;
    color: rgb(247, 236, 236);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}
body{
    margin: 0;
    margin-bottom: -30px;
    background-color: black;
}

*{
    box-sizing: content-box;
    /* border: 1px solid green; */
}


nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-left: 0vw;

    position: fixed;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(10.8px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    z-index: 200;
}
nav span{
    display: inline-block;
}
nav #nombre{
    width: 30%;
    text-align: center;
}
#menu {
    width: 100%;
}
#menu > *{
    text-align: center;
    margin: auto;
    width: 85%;
    justify-content: space-around;
}
@media (max-width: 720px){
    nav #menu{
        text-align: center;
        margin: auto;
        width: 100%;
    }
    nav #menu a{
        margin: 10px;
    }

}
nav div{
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
nav div > a{
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: large;
    /* text-decoration: none; */
    text-underline-offset: 6px;
}



#main{
    margin-top: -15px;
    padding: 0px;
    padding-top: 65px;
    z-index: 20;
    height: 100vh;
    padding-left: 0;
    display: flex;
    align-content: center;
    position: relative;
    overflow: hidden;
}
#main::before{
    content: "";
    background-image: url("/images/nebula.jpg");
    background-size: 100% 100%;
    filter: blur(30px);
    position: absolute;
    width: 110vw;
    height: 100vh;
    z-index: -1;
    margin: -60px;
    top: 0px;
}

#main .layer{
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    justify-content: flex-start !;
    transform: translateY(50px);

}
#main svg{ /* ajustar para otras resoluciones*/
    z-index: 1;
    opacity: 0.5;
    scale: 4 -4.2;
    bottom: 0px;
    pointer-events: none;
    /* transition: 0.5s ease-out all; */
    transform: translateX(-200px) translateY(-500px);
}
@media (min-width: 1600px) {
    #main .layer{
    transform: translateY(50px);
    }
    #main svg {
        scale: 5 -5.2;
        transform: translateX(-300px) translateY(-20px);
    }
}
@media (max-width: 1080px) {
    #main .layer{
    transform: translateY(30px);
    }
    #main svg {
        scale: 6.2 -7.6;
        transform: translateX(-150px) ;
    }
}
@media (max-width: 700px) {
    #main svg {
        scale: 20.2 -20.6;
        transform: translateX(-80px) translateY(-120px);
        opacity: 0.35;
    }
}



#profile{
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}
#button-download{
    color: rgb(144, 144, 228) !important;
    text-decoration: underline !important;
}
.colored{
    color: rgb(114, 114, 235);
}
#profile #profile_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    height: fit-content;
    align-self: center;
    row-gap: 10px;
}
.card {
    width: 290px;
    height: 400px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.card__content {
    overflow: hidden;
    background: rgb(5, 6, 45);
    border-radius: 17px;
    width: 100%;
    height: 100%;
}



#profile #profile_img ul{
    padding: 0;
}
#profile #profile_img ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    justify-content: center;
}

#profile_img ul.titles li {
    list-style: none;
    padding: 6px 14px;
    font-size: 0.85rem;
    font-weight: 500;
    white-space: nowrap;

    color: #0f172a;
    background: linear-gradient(135deg, #e0f2fe, #bae6fd);
    border: 1px solid #7dd3fc;

    border-radius: 999px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
#profile_img ul.titles li:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}




#profile #info{
    align-self: center;
    width: 25vw;
}
#profile #info h1{
    font-size: xx-large;
}
#profile #info p{
    width: 100%;
    text-align: left ;
    margin: 0;
    font-size: x-large;
}
@media (max-width: 720px){
    #profile{
        flex-direction: column;
    }
    #profile #profile_img{
        max-width: 100%;
    }
    #profile #info{
        width: 85vw;
        margin-bottom: 10px;
        text-align: center;
    }
    #profile #info p{
        text-align: center ;
    }
}


#secundary,#proyects{
background: #091221;
margin-top: -2px;
background: linear-gradient(0deg, rgba(9, 18, 33, 1) 0%, rgb(36, 36, 49) 85%, rgb(37, 34, 48) 100%);
}
#proyects{
background: #091221;
background: linear-gradient(180deg, rgba(9, 18, 33, 1) 0%, rgb(36, 36, 49) 85%, rgb(40, 34, 48) 100%);

}
#cursos{
    display: flex;
    justify-content: space-around;
    background-color: #1f2431;
    width: 85%;
    margin: auto ;
    border: 3px solid rgb(125, 125, 211);
    border-right: 0 ;
    border-left: 0 ;
    border-radius: 50px ;

    position: relative;
    transition: 1s ease-in-out all;
    left: 100vw;
    top: 10px;
    transform: translateY(-50%);
    z-index: 20;
    margin-bottom: -150px;
}
#cursos.scrolled{
    box-shadow: 0px 8px 3px  rgb(55, 55, 99);
    left: 0;
    transition: 1.5s ease-in-out all;
}

#cursos > img{
    object-fit: cover;
    width: 22vw;
    min-width: 200px;
    min-height: 200px;
    border-radius: 20px;
    align-self: center;
}


#cursos_info{
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-direction: column;
    width: 80%;
}
#anchor_cursos{
    position: relative;
    top: -300px;
}
#cursos_info .titulo{
    text-align: center;
    background-color: rgb(66, 83, 128);
    padding: 15px 20px;
    width: 30%;
    min-width: 120px;
    margin: auto;
    transform: skewX(25deg);
    margin-top: 10px;
}
#cursos_info h2{
    text-align: center;
    background-color: rgb(66, 83, 128);
    margin: auto;
    transform: skewX(-25deg);
}


#cursos .container_cursos{
    display: flex;
    list-style: none;
    margin: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
}
#cursos .container_cursos div{
    text-align: center;
    width: min-content;
    min-width: 14vw;
    min-height: 13vh;
    border: 1px solid grey;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 3px gray;
    background-color: #2c3c53;
    aspect-ratio: 8 / 9;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    height: 275px;
    padding-bottom: 10px;
}
#cursos .container_cursos div img{
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    max-height: 153px;
}
.gris{
    color: gray;
}











#profesional_profile {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 15px;
}

.skill-group >*{
    margin-bottom: 40px;
    display: flex;
}
.skill-group h2{
    font-size: xx-large;
    text-align: center;
    margin: auto;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0;
    border: 3px solid grey;
    padding: 20px;
    border-radius: 12px;
    justify-content: space-evenly;
    transition: 0.1s linear all;
    box-shadow: 0 0 12px rgb(82, 82, 82);
}
.skills:hover{
    box-shadow: 0 0 12px rgb(82, 82, 82), 0 0 12px rgb(212, 211, 211);
    transition: 0.1s linear all;
}
.skills li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 14px;
    min-width: 80px;

    background: #f8fafc;
    border: 1px solid #e2e8f0;
    border-radius: 12px;

    font-size: 0.9rem;
    font-weight: 500;
    color: #0f172a;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
}

.skills li i {
    font-size: 1.4rem;
}
.skills li img {
    width: 33px;
}

.skills li:hover {
    transform: translateY(-3px) rotateZ(5deg);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.12);
}




*{
}

#proyects {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 150px;
}

#proyects h1{
    text-align: center;
    font-weight: bold;
    background-color: rgb(20, 89, 155,1);
    padding: 10px 125px;
    transform: skew(-66deg);
}
#proyects h1 span{
    transform: skew(47deg);
    display: inline-block;
    margin: auto;
}
.decorated_tittle{
    background-color: rgb(20, 89, 155,1);
    transform: skew(50deg);
    max-width: 100% !important;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
#first_dt{
    max-width: 80vw;
    width: 1000px;
    font-size: 50px;
}
.other_dt{
    font-size: xx-large;
}




#proyects .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 75px;
    flex-wrap: wrap;
    row-gap: 50px;
}


#proyects .container .tarjeta{

    display: flex;
    flex-direction: column;
    width: 350px;
    min-height: 400px;
    border: 4px solid rgb(81, 81, 151);
    border-radius: 10px;
    padding: 15px;
    transition: 0.5s ease-in-out all;
    box-shadow: 5px 7px 3px rgb(135, 94, 182), -5px 7px 3px rgb(83,84,153,1), -5px -7px 3px rgb(20, 89, 155,1), 5px -7px 3px rgb(83,84,153,1), 0px 0px 5px rgb(0, 0, 0);
}
#proyects .container .tarjeta:hover{
    box-shadow: 5px 7px 3px rgb(20, 89, 155,1), -5px 7px 3px rgb(83,84,153,1), -5px -7px 3px rgb(135, 94, 182) , 5px -7px 3px rgb(83,84,153,1), 20px 27px 5px rgb(0, 0, 0);
    transition: 0.5s ease-in-out all;
    scale: 1.05;
}

#proyects .container .tarjeta h3{
    font-size: x-large;
    text-align: center;
}
#proyects .container .tarjeta p{
    margin-top: 260px;
    margin-bottom: 10px;
}



@media (max-width: 1300px){
    #cursos{
        left: 0;
        transform: translateY(0%);
        margin-bottom: 15px;
    }
    #proyects h1{
        padding: 10px 1px;
        transform: skew(-66deg);
    }
}


#proyects li img{
    height: 23px;
    display: inline-block;
    margin-right: 3px;
}
#proyects a{
    color: rgb(85, 85, 231);
    text-decoration: underline;
}
#proyects a:hover{
    color: rgb(111, 111, 238);
}
#proyects em{
    color: #b5cedf;
}

#proyects ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: auto;
}
#proyects li{
    white-space: nowrap;
    background-color: rgb(231, 231, 231);
    color: black;
    padding: 2px 5px;
    border-radius: 13px;
    border: 1px solid rgb(66, 83, 128) ;
}
#proyects li i{
    font-size: x-large;
    position: relative;
    bottom: -4px;
    margin-right: 5px;
}



.enlance_git{
    background-color: white;
    font-size: 50px;
    width: fit-content;
    padding: 3px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 15px;
    border: 2px solid black;
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s ease-in-out all;
    color: black !important;
    text-decoration: none !important;
}
.enlance_git:hover{
    box-shadow: 0px 0px 20px white,0px 0px 10px white;
    cursor: pointer;
    width: 175px;
    transition: 0.3s ease-in-out all;

}
.enlance_git span{
    font-size: xx-large;
    position: relative;
    top: -10px;
    right: -10px;
}






#proyects .image_carousel{
    position: relative;
}
#proyects .image_carousel > img, 
#proyects .image_carousel > video {
    aspect-ratio: 19 / 9;
    object-fit: contain;
    height: 250px;
    position: absolute;
    top: 0;
    z-index: 0;
    padding: 0px;
}

#proyects .image_carousel > .selected {
    z-index: 1;
    background-color: black;
}


#proyects .image_carousel .carousel_button_izq , 
#proyects .image_carousel .carousel_button_der{
    position: absolute;
    height: 250px;
    width: 30px;
    z-index: 999;
    text-shadow: 0px 0px 5px  black, 0px 0px 5px  black, 0px 0px 5px  black,0px 0px 5px  black,0px 0px 5px  black;
}  
#proyects .image_carousel .carousel_button_der:hover{
background: #000000;
background: linear-gradient(-90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
cursor: pointer;
}  
#proyects .image_carousel .carousel_button_izq:hover{
background: #000000;
cursor: pointer;
background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}  
#proyects .image_carousel .carousel_button_izq{
    left: 0;
}
#proyects .image_carousel .carousel_button_der{
    right: 0;
}





#proyects .tarjeta{
    background: linear-gradient(132deg, #000000,#220072, #162a6b,#2a004d,#72033a,#2c1179);
    background-size: 400% 400%;
    animation: BackgroundGradient 50s ease infinite;
    margin: 0;
}
@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}